/* <system section="theme" selected="11696248318753787764"> */
@import url("http://hatenablog.com/theme/11696248318753787764.css");
/* </system> */

/* high-light date time string */
.entry-date time{
  color: white; /*日付の文字色*/
  background: #444B99;/*日付の背景色*/
  padding: 0px 10px;/*日付の文字まわりのスペース*/
}

/* font adjustment */
#blog-title {
    /* Blog Title */
    font-family: 'Kaushan Script', cursive; /* Google Web Font */
}

#blog-description {
    /* Blog Description */
    font-family: 'Merienda One', cursive; /* Google Web Font */
}

body {
    /* body全体 */
    font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.entry-categories {
    /* エントリカテゴリ */
    font-weight: bold;
}

.entry-content {
    /* エントリ本文 */
    font-size: 95%; /* デフォルトは95% */
    line-height: 1.8; /* デフォルトは1.9 */
    color: #546E7A; /*dark gray にして文字表現を抑える*/
}

/* コンテンツ幅の拡張 */
#content, .breadcrumb {
	width: 75%; /* 80%〜95%の範囲を推奨 */
}

#content, #blog-title, .breadcrumb  {
	min-width: 800px;
}

.header-image-enable #blog-title-inner {
	background: no-repeat center;
	background-size: cover;
}

#main {
	margin-right: 300px;
}

.entry-content img, .entry-content iframe, .entry-content embed { 
	max-width: 100%;
}

#box2 {
	margin-left: -300px;
	float: right;
}

.page-entry .pager-next a,.page-entry .pager-prev a, .page-archive .pager-next a, .page-archive .pager-prev a {
	width: 48%;
}

.page-index .pager-next a , .page-search .pager-next a, .pager, #wrapper  {
	width: 100%;
}
/* ここまで */

/* Google Custom Search CSS */
.gsc-control-cse,
.gsc-control-searchbox-only {
  display: block !important;
  padding: 0 !important;
}
.gsc-control-cse form.gsc-search-box.gsc-search-box-tools,
.gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools,
.gsc-control-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box,
.gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools table.gsc-search-box{
  margin: 0 !important;
}
.gsc-control-cse td.gsc-input,
.gsc-control-searchbox-only td.gsc-input {
  margin: 0 !important;
  padding: 0 !important;
}
.gsc-control-cse td.gsc-input #gsc-iw-id1,
.gsc-control-searchbox-only td.gsc-input #gsc-iw-id1 {
  background-clip: padding-box;
  border: 1px solid #cccccc !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
}

/* disable search button */
#searchbox-btn,
.gsc-control-cse td.gsc-search-button,
.gsc-control-searchbox-only td.gsc-search-button {
  display: none;
}
.gsc-control-cse,
#top-editarea .gsc-control-cse td.gsc-search-button,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button {
  display: block !important;
}

/* override defaults.css */
#top-editarea .gsc-control-cse,
#top-editarea .gsc-control-searchbox-only {
  margin-left: auto;
  padding: 6px 0;
  width: auto;
}
#top-editarea .gsc-control-cse form.gsc-search-box.gsc-search-box-tools,
#top-editarea .gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools 
#top-editarea .gsc-control-cse form.gsc-search-box.gsc-search-box-tools table.gsc-search-box, 
#top-editarea .gsc-control-searchbox-only form.gsc-search-box.gsc-search-box-tools table.gsc-search-box {
  margin: 0 !important;
}
#top-editarea .gsc-control-cse td.gsc-input,
#top-editarea .gsc-control-searchbox-only td.gsc-input {
  margin: 0 !important;
  padding: 0 !important;
}
#top-editarea .gsc-control-cse td.gsc-input #gsc-iw-id1,
#top-editarea .gsc-control-searchbox-only td.gsc-input #gsc-iw-id1 {
  background-clip: padding-box;
  border: 1px solid #cccccc !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 0;
}
#top-editarea .gsc-control-cse td.gsc-search-button input.gsc-search-button,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button input.gsc-search-button {
  background-color: #333333 !important;
  background-image: none !important;
  border: none !important;
  border: 1px solid #333333 !important;
}
#top-editarea .gsc-control-cse td.gsc-search-button input.gsc-search-button:hover,
#top-editarea .gsc-control-searchbox-only td.gsc-search-button input.gsc-search-button:hover {
  background-color: #999999 !important;
  border: 1px solid #999999 !important;
}
