/* <system section="theme" selected="10328749687197818725"> */
@import url("http://hatenablog.com/theme/10328749687197818725.css");
/* </system> */

/* ---- CSS Hack End Begin ---- */

/* high-light date time string */
.entry-date time{
  color: white; /*日付の文字色*/
  background: #444B99;/*日付の背景色*/
  padding: 0px 10px;/*日付の文字まわりのスペース*/
}

/* font adjustment */
#title {
    /* Blog Title */
    font-family: 'Kaushan Script', cursive; /* Google Web Font */
}

#blog-description {
    /* Blog Description */
    font-family: 'Merienda One', cursive; /* Google Web Font */
}

.entry-content {
    /* エントリ本文 */
    line-height: 1.8; /* デフォルトは1.9 */
    color: #546E7A; /*dark gray にして文字表現を抑える*/
}

body {
    /* body全体 */
    font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
