<style type="text/css">
  body {font-family:"Avenir Next", sans-serif;}
</style>

<style type="text/css">  
.entry-content h4 { color: rgb(59, 66, 126);/*文字色*/
                    background: rgb(243, 242, 252); /*背景色*/
                    padding: 10px 10px; /*見出しまわりのスペース 上下、左右*/
                    border-left: 9px solid rgb(97, 101, 134); /*見出し左の線*/}
  
</style>

<style type="text/css">

  .list-entry-article .thumb-image 
      {
      width: 100px; /*サムネイル画像の横幅*/
      height: 100px; /*サムネイルが画像の縦幅*/
      border-radius: 0em; /*サムネイル画像の角の丸みをなくす*/
      border: solid 3px rgb(61, 61, 61); /*画像の枠線をつける*/
      }
  .date
      {
      color: white; /*日付の文字色*/
      background: #444B99;/*日付の背景色*/
      padding: 0px 10px;/*日付の文字まわりのスペース*/
      }
      
</style>